body {
max-width: 700px;
font-family: Helvetica,monospace;
padding-bottom: 350px;
}

a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: red;
}

.row{
display: flex;
float: left;
width: 380px;
column-count: 2;
clear: left;
column-width: 350px;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;

}

.row2{
  width: 750px;
/* justify-content: space-between; */
display: flex;
float: left;
align-items: flex-start;
flex-direction: row;
column-count: 2;
/* column-width: 0px; */
column-width: 350px;
}

.row2 > div{
  width: 300px;
  padding: 1rem;
}

.row3{
display: flex;
float: left;
width: 392px;
column-count: 2;
clear: left;
column-width: 350px;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;

}

.row4{
  width: 750px;
/* justify-content: space-between; */
display: flex;
float: left;
align-items: flex-start;
flex-direction: row;
column-count: 2;
/* column-width: 350px; */
}

.row4 > div{
  width: 300px;
  padding: 1rem;
}

.row6 > div{
  width: 300px;
  padding: 1rem;
}

/* .row5{
display: flex;
float: left;
width: 408px;
column-count: 2;
clear: left;
column-width: 350px;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;

} */

.row6{
  width: 750px;
/* justify-content: space-between; */
display: flex;
float: left;
align-items: flex-start;
flex-direction: row;
column-count: 2;
/* column-width: 350px; */
}

/* .mild-title-oppo {
  position: absolute;
  top: 74px;
    left: 423px;
} */

.row7{
  width: 750px;
/* justify-content: space-between; */
display: flex;
float: left;
align-items: flex-start;
flex-direction: row;
column-count: 2;
/* column-width: 350px; */
}

.row7 > div{
  width: 300px;
  padding: 1rem;
  padding-bottom: 5rem;
}

.mild-title-oppo {
  font-size: 16pt;
  font-weight: bold;
  transition: 0.2s ease-in;
}

.mild-title-oppo:hover {
  color: red;
  cursor: pointer;
}

.mild-title-emo {
  font-size: 16pt;
  font-weight: bold;
  transition: 0.2s ease-in;
}

.mild-title-emo:hover {
  color: red;
  cursor: pointer;
}

/* .basic-title-oppo {
    position: static;
    margin-top: -41px;
    margin-left: 416px;
  } */

  .basic-title-oppo {
    font-size: 16pt;
    font-weight: bold;
    transition: 0.2s ease-in;
  }
  .basic-title-oppo:hover{
    color: red;
    cursor: pointer;
  }

  /* .basicoppo {
    max-width: 350px;
    position: absolute;
    top: 210px;
      left: 423px;
  } */

/* .mildemo {
  max-width: 350px;
}

.mildoppo {
  max-width: 350px;
  position: absolute;
  top: 134px;
    left: 423px;
} */

.basic-title-emo {
  font-size: 16pt;
  font-weight: bold;
  transition: 0.2s ease-in;
}

.basic-title-emo:hover {
color: red;
cursor: pointer;
}

/* .basicemo {
  max-width: 350px;
}

.basicoppo {
  max-width: 350px;
  position: absolute;
  margin-top: 51px;
    left: 423px;
} */

.inten-title-emo {
  font-size: 16pt;
  font-weight: bold;
  transition: 0.2s ease-in;
}

.inten-title-emo:hover{
  color: red;
  cursor: pointer;
}

/* .inten-title-oppo {
    position: static;
    margin-top: -41px;
    margin-left: 416px;
  } */

  .inten-title-oppo {
    font-size: 16pt;
    font-weight: bold;
    transition: 0.2s ease-in;
  }

  .inten-title-oppo:hover{
    color: red;
    cursor: pointer;
  }

  .dyads-title {
    font-size: 16pt;
    font-weight: bold;
    transition: 0.2s ease-in;
  }

  .dyads-title:hover{
    color: red;
    cursor: pointer;
  }

  .title-dummy {
    font-size: 16pt;
    font-weight: bold;
    color: white;
  }

  .row7{
    width: 750px;
  /* justify-content: space-between; */
  display: flex;
  float: left;
  align-items: flex-start;
  flex-direction: row;
  column-count: 2;
  /* column-width: 350px; */
  }

  .row7 > div{
    width: 300px;
    padding: 1rem;
    padding-bottom: 5rem;
  }

  .row8{
    position: fixed;
    width: 370px;
  /* justify-content: space-between; */
  display: flex;
  float: left;
  align-items: flex-start;
  flex-direction: row;
  column-count: 1;
  position: absolute;
  top: 60px;
  left: 935px;
  /* column-width: 350px; */
  }

  .row8 > div{
    position: fixed;
    width: 300px;
    padding: 1rem;
    padding-bottom: 5rem;
  }

  #kuriku {
    padding: 1rem;
  }

  #anuncio {
    position: fixed;
    margin-top: 80vh;
    left: 950px;
    cursor: help;
  }
#reference {
  position: fixed;
  /* margin-bottom: 630px; */
  margin-top: 85vh;
  left: 950px;
}

.popup {
  color: white;
  font-size: 8pt;
}

.popup2 {
  color: white;
  font-size: 5pt;
}

.popup3 {
  color: white;
  font-size: 2pt;
}


/* MESSAGES */
#message1{
animation: show1 0.5s linear 180s;
animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards;
}

@keyframes show1 {
from { opacity: 0; }
to {
  color: black;
  opacity: 1;}
}

#message2{
animation: show1 0.5s linear 190s;
animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards;
}

#message3{
animation: show1 0.5s linear 195s;
animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards;
}

#message4{
animation: show1 0.5s linear 215s;
animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards;
}

#message5{
animation: show1 0.5s linear 218s;
animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards;
}

#message6{
animation: show1 0.5s linear 223s;
animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards;
}

#message7{
animation: show1 0.5s linear 226s;
animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards;
}

#message8{
animation: show1 0.5s linear 231s;
animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards;
}

#message9{
animation: show1 0.5s linear 241s;
animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards;
}

#message10{
animation: show1 0.5s linear 244s;
animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards;
}

#message11{
animation: show1 0.5s linear 248s;
animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards;
}

#message12{
animation: show1 0.5s linear 258s;
animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards;
}

#message13{
animation: show1 0.5s linear 260s;
animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards;
}

#message14{
animation: show1 0.5s linear 261s;
animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards;
}

#message15{
animation: show1 0.5s linear 264s;
animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards;
}

#message16{
animation: show1 0.5s linear 265s;
animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards;
}

#message17{
animation: show1 0.5s linear 280s;
animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards;
}
