body {
  margin-left: 10px;
  font-family: serif, Times New Roman;
  font-size: 2.5em;
  /* margin: 0;  */
  height: 100%;
  overflow: hidden;
}


.flex-parent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page {
	height: 100vh;
  width: 100vw;
	justify-content: space-between;
	background-color: white;
  /* think abt changing it from black to white with the day and night! */
}

.column {
	flex-direction: column;
}

.column--1 {
	width: calc(50% - 8px);
  height: calc(80% - 8px);
}

.column--1-illust {
	width: calc(20% - 8px);
  height: calc(80% - 8px);
}

.description {
  padding: 50px;
  width: calc(70% - 8px);
  height: calc(70% - 8px);
}

.description-text {
  font-size: .70em;
}

/* .proj2:hover #new {
content: 'triumphant/broken';
/* transition: .2s ease-in-out; */

/* ref http://jsfiddle.net/fLMSd/14/ */
}

/* .proj2:hover #new:after{
content: 'triumphant/broken';
transition: .2s ease-in-out; */

/* ref http://jsfiddle.net/fLMSd/14/ */
}

.hover-link {
  display: block;
  /* transition: .2s ease-in-out; */
}

.hidden-text {
  display: none;
  transition: .2s ease-in-out;
}

.group:hover .hover-link {
  display: none;
  /* transition: .2s ease-in-out; */
}

.group:hover .hidden-text {
  display: block;
  transition: .2s ease-in-out;
}

#projlink {
  color: #CFCFCF;
}

.column--2 {
	width: calc(50% - 8px);
  height: calc(80% - 8px);
  justify-content: flex-end;
  /* margin-right: 40px; */
}

.column--2-illust {
	width: calc(80% - 8px);
  height: calc(80% - 8px);
  justify-content: flex-end;
  /* margin-right: 40px; */
}

.galeria {
  padding: 50px;
  width: calc(95% - 8px);
  height: calc(70% - 8px);
  justify-content: flex-end;
}

.galeria-illust {
  padding: 50px;
  width: calc(65% - 8px);
  height: calc(70% - 8px);
  left: 0px;
  justify-content: flex-end;
}

/* .slideshow {
  cursor: pointer;
  position: relative;
} */

.slideshow-image {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}

.slideshow {
    cursor: pointer;
    margin: 50px auto;
    position: relative;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    padding: 10px;
    /* box-shadow: 0 0 20px rgba(0,0,0,0.4); */
}

.slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

/* .champ {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}

.lang {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transform: rotate(90deg);
} */

.slideshow-image--active {
  opacity: 1;
  pointer-events: all;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* EMOTION RANK IMGS */
#ss1 img {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  animation-name: fade;
  /* position: fixed; */
}

#ss1 video {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  animation-name: fade;
  /* position: fixed; */
}

#ss2 img {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  animation-name: fade;
  /* position: absolute; */
}

#ss2 video {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  animation-name: fade;
  /* position: absolute; */
}

#ss3 img {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  animation-name: fade;
  /* position: absolute; */
}

#ss4 img {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  animation-name: fade;
  /* position: absolute; */
}

#ss4 video {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  animation-name: fade;
  /* position: absolute; */
}

#ss5 img {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  animation-name: fade;
  /* position: absolute; */
}

#ss6 img {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  animation-name: fade;
  /* position: absolute; */
}

#ss7 img {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  animation-name: fade;
  /* position: absolute; */
}

#ss8 img {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  animation-name: fade;
  /* position: absolute; */
}

#ss9 img {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  animation-name: fade;
  /* position: absolute; */
}

#ss10 img {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  animation-name: fade;
  /* position: absolute; */
}

#ss11 img {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  animation-name: fade;
  /* position: absolute; */
}

#ss12 img {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  animation-name: fade;
  /* position: absolute; */
}

#ss13 img {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  animation-name: fade;
  /* position: absolute; */
}

#ss14 img {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  animation-name: fade;
  /* position: absolute; */
}

#ss15 img {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  animation-name: fade;
  /* position: absolute; */
}

#ss16 img {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  animation-name: fade;
  /* position: absolute; */
}

#ss17 img {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  animation-name: fade;
  /* position: absolute; */
}

#bar1 {
  /* margin-left: calc(64% - 8px); */
  right: 0;
  width: 300px;
  height: 45px;
  background-color: white;
}

#bar2 {
  display: block;
  right: 0px;
  margin-left: 25%;
  width: 640px;
  height: 48px;
  color: black;
  /* align-self: center; */
  background-color: black;
}

#bar2:hover {
  /* right:445px; */
  margin-left: 10%;
  width: 950px;
  color: white;
  padding-left: 40px;
  transition: .5s ease-in-out;
  /* background: red; */
}


#bar3 {
  display: block;
  right: 0px;
  margin-left: 25%;
  width: 640px;
  height: 48px;
  color: black;
  background-color: black;
}

#bar3:hover{
  /* right:445px; */
  margin-left: 10%;
  width: 950px;
  color: white;
  padding-left: 40px;
  transition: .5s ease-in-out;
  /* background: red; */
}

#bar4 {
  display: block;
  right: 0px;
  margin-left: 25%;
  width: 640px;
  height: 48px;
  color: black;
  background-color: black;
}

#bar4:hover {
  /* right:445px; */
  margin-left: 10%;
  width: 950px;
  color: white;
  padding-left: 40px;
  transition: .5s ease-in-out;
  /* background: red; */
}

#bar5 {
  display: block;
  right: 0px;
  margin-left: 25%;
  width: 640px;
  height: 48px;
  color: black;
  background-color: black;
}

#bar5:hover {
  /* right:445px; */
  margin-left: 10%;
  width: 950px;
  color: white;
  padding-left: 40px;
  transition: .5s ease-in-out;
  /* background: red; */
}

#bar6 {
  display: block;
  right: 0px;
  margin-left: 25%;
  width: 640px;
  height: 48px;
  color: black;
  background-color: black;
}

#bar6:hover {
  /* right:445px; */
  margin-left: 10%;
  width: 950px;
  color: white;
  padding-left: 40px;
  transition: .5s ease-in-out;
  /* background: red; */
}

#bar7 {
  display: block;
  right: 0px;
  margin-left: 25%;
  width: 640px;
  height: 48px;
  color: black;
  background-color: black;
}

#bar7:hover {
  /* right:445px; */
  margin-left: 10%;
  width: 950px;
  color: white;
  padding-left: 40px;
  transition: .5s ease-in-out;
  /* background: red; */
}

#bar7-illust {
  display: block;
  right: 0px;
  /* margin-left: calc(61% - 8px); */
  width: 520px;
  height: 48px;
  background-color: black;
}

#bar8 {
  display: block;
  right: 0px;
  margin-left: 25%;
  width: 640px;
  height: 48px;
  color: black;
  background-color: black;
}

#bar8:hover {
  /* right:445px; */
  margin-left: 10%;
  width: 950px;
  color: white;
  padding-left: 40px;
  transition: .5s ease-in-out;
  /* background: red; */
}

#bar9 {
  display: block;
  right: 0px;
  margin-left: 25%;
  width: 640px;
  height: 48px;
  color: black;
  background-color: black;
}

#bar9:hover {
  /* right:445px; */
  margin-left: 10%;
  width: 950px;
  color: white;
  padding-left: 40px;
  transition: .5s ease-in-out;
  /* background: red; */
}

#bar10 {
  display: block;
  right: 0px;
  margin-left: 25%;
  width: 640px;
  height: 48px;
  color: black;
  background-color: black;
}

#bar10:hover {
  /* right:445px; */
  margin-left: 10%;
  width: 950px;
  color: white;
  padding-left: 40px;
  transition: .5s ease-in-out;
  /* background: red; */
}

#bar11 {
  display: block;
  right: 0px;
  margin-left: 25%;
  width: 640px;
  height: 48px;
  color: black;
  background-color: black;
}

#bar11:hover {
  /* right:445px; */
  margin-left: 10%;
  width: 950px;
  color: white;
  padding-left: 40px;
  transition: .5s ease-in-out;
  /* background: red; */
}

#bar12 {
  display: block;
  right: 0px;
  margin-left: 25%;
  width: 640px;
  height: 48px;
  color: black;
  background-color: black;
}

#bar12:hover {
  /* right:445px; */
  margin-left: 10%;
  width: 950px;
  color: white;
  padding-left: 40px;
  transition: .5s ease-in-out;
  /* background: red; */
}

#bar13 {
  display: block;
  right: 0px;
  margin-left: 25%;
  width: 640px;
  height: 48px;
  color: black;
  background-color: black;
}

#bar13:hover {
  /* right:445px; */
  margin-left: 10%;
  width: 950px;
  color: white;
  padding-left: 40px;
  transition: .5s ease-in-out;
  /* background: red; */
}

#bar14 {
  display: block;
  right: 0px;
  margin-left: 25%;
  width: 640px;
  height: 48px;
  color: black;
  background-color: black;
}

#bar14:hover {
  /* right:445px; */
  margin-left: 10%;
  width: 950px;
  color: white;
  padding-left: 40px;
  transition: .5s ease-in-out;
  /* background: red; */
}

#bar15 {
  display: block;
  right: 0px;
  margin-left: 25%;
  width: 640px;
  height: 48px;
  color: black;
  background-color: black;
}

#bar15:hover {
  /* right:445px; */
  margin-left: 10%;
  width: 950px;
  color: white;
  padding-left: 40px;
  transition: .5s ease-in-out;
  /* background: red; */
}

.column--3 {
  align-content: center;
  align-items: center;
  padding-left: 420px;
  padding-top: 50px;
	width: calc(100% - 8px);
  height: calc(20% - 8px);
  justify-content: space-between;
  z-index: 100;
}


p {
    text-align: justify;
    margin-right: 5px;
}

.bio-overlay {
  z-index: -5;
  opacity: 0;
  width: 100%;
  height:100%;
  background-color: rgba(130,130,130,.8);
  position:fixed;
  top:0;
  left:0;
  display: block;
  transition: 1.2s;
}

.bio-overlay.active {
    z-index: 1000;
    opacity: 1;
    cursor: pointer;
}

/* .show-overl {
    z-index: 1000;
    opacity: 0.85;
    cursor: pointer;
} */



/* #bio-text {
	position: fixed;
	top:48px;
	left: 48px;
	color: white;
	font-size: 52px;
	line-height: normal;
	margin-right: 48px;
} */


a {
    color: #222;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: border-color .15s linear;
    cursor: pointer;
    /* -moz-transition: border-color .15s linear; */
    /* -o-transition: border-color .15s linear; */
    -webkit-transition: border-color .15s linear;
}

#bio-text {
  color: white;
  opacity: 20;
  font-size: 39pt;
  margin: 30px;
  float: left;
  border-bottom: 4px solid transparent;
  text-decoration: none;

   transition: border-color .15s linear;
  -moz-transition: border-color .15s linear;
  -o-transition: border-color .15s linear;
  -webkit-transition: border-color .15s linear;
}
